@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: MarukoTC-Regular;
  src: url(https://cdn.jsdelivr.net/gh/max32002/maruko-gothic@1.005/webfont/CJK%20TC/MarukoGothicCJKtc-Regular.woff2) format("woff2");
}
@font-face {
  font-family: MarukoTC-Medium;
  src: url(https://cdn.jsdelivr.net/gh/max32002/maruko-gothic@1.005/webfont/CJK%20TC/MarukoGothicCJKtc-Medium.woff2) format("woff2");
}